h1{
    color: white !important;
}

#about-container{
    background-color: gray;
    /* width: 1200px; */
    text-align: center;
}

#lower-container{
    display: flex;
    justify-content: space-evenly;
}

.about-card{
    border: 2px solid black;
}

.buttons{
    border: 2px solid rgb(0, 145, 48);
    width: 300px;
    /* margin: 30px 0px 10px 0px; */
    padding: 10px;
    border-radius: 4px;
    color: rgb(0, 145, 48);
    font-size: 20px;
    background-color: rgb(0, 183, 255);
}