h1{
    color: white !important;
}

#about-container{
    background-color: gray;
    /* width: 1200px; */
    text-align: center;
}

#lower-container{
    display: flex;
    justify-content: space-evenly;
}

.about-card{
    border: 2px solid black;
}