div#about-main{
    margin-top: 140px;
}

h1.about-headers{
    margin: 40px auto;
}

h3.about-names{
    margin-top: 15px;
}

#about-container{
    margin: 0 auto;
    text-align: center;
}

#lower-container{
    display: flex;
    justify-content: space-evenly;
}

.about-card{
    display: flex;
    flex-direction: column;
    width: 95vw;
    background-color: rgb(36, 35, 39);
    border: 2px solid rgb(131, 131, 131);
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    margin: 40px auto;
    transition: transform .4s;
}

.about-card:hover{
    border: 2px solid rgb(194, 225, 20);
    background-color: rgb(21, 21, 22);
    transform: scale(1.05);
}

.headshot-card{
    padding: 0;
}

img.img{
    width: 95vw !important;
    border-radius: 10px;
    margin-top: 40px;
}

.buttons{
    border: 2px solid rgb(21, 170, 148);
    color: rgb(21, 170, 148);
    width: 300px;
    padding: 10px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    background-color: rgb(36, 35, 39);
    transition: transform .4s;
}


.buttons:hover{
    transform: scale(1.1);
}

@media(min-width: 767px){
    img.img{
        width: 80vw !important;
    }

    .about-card{
        width: 80vw;
        
    }

}

@media(min-width: 1023px){
    img.img{
        width: 40vw !important;
    }
}

@media(min-width: 1339px){
    div#lower-container{
        flex-direction: row;
        margin-bottom: 60px !important;
    }

    img.img{
        width: 40vw !important;
    }

    .about-card{
        max-width: 819px;
        height: 500px;
        margin: 0 20px;
    }
}

@media(min-width: 1779px){
    #about-main{
        padding-top: 40px !important;
    }
    img.img{
        width: 30vw !important;
    }
}

@media(min-width: 2559px){
    img.img{
        width: 27vw !important;
    }

    #about-container p{
        width: 30vw !important;
        font-size: 18px;
    }

    .about-card p{
        font-size: 18px;
    }
}