p{
    text-align: left;
}

p.courses-text{
    padding: 10px;
    width: 100%;
}

h1.courses-headers{
    margin: 140px 0 30px 0;
    padding: 0 2.1px;
    /* width: 99vw; */
}

h2.courses-headers{
    font-size: 35px;
    margin-top: 40px;
    color: rgb(21, 170, 148);
}

div#shop-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto !important;
    padding: 10px;
}

.shop-card{
    display: flex;
    flex-direction: column;
    background-color: rgb(36, 35, 39);
    border: 2px solid rgb(131, 131, 131);
    border-radius: 10px;
    padding: 10px;
    margin: 10px 10px;
    align-items: center;
    transition: transform .4s;
}

.shop-card:hover{
    border: 2px solid rgb(194, 225, 20);
    transform: scale(1.05);
}

#courses-icon{
    margin: 30px;
}

.buttons{
    margin: 20px auto;
}

@media(min-width: 767px){
    h1.courses-headers{
        margin-top: 140px !important;
        font-size: 45px;
    }
}

@media(min-width: 1439px){
    h3.courses-headers{
        font-size: 55px;
    }

    div#shop-container{
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .shop-card{
        width: 600px;
    }
}

@media(min-width: 2559px){
    h1.courses-headers{
        margin-top: 180px !important;
    }
}
