@font-face {
    font-family: "SubwayTicker";
    src: url("../../src/fonts/SubwayTicker/SubwayTicker.woff")   format("woff");
} 

div#stock-ticker-container{
  /* background-color: rgb(24, 22, 22) !important; */
  /* border: 2px solid rgba(63, 62, 62, 0.651);
  border-radius: 8px; */
  max-width: 1280px;
  padding: 0 10px;
  margin: 0 auto;

}

h1.headline{
  font-family: 'SubwayTicker';
  color: green !important;
  font-size: 25px !important;
  white-space: nowrap;
  margin-bottom: 20px;
}

@media(min-width: 767px){
  h1.headline{
    font-size: 45px;
  }
}