#main-banner{
  display: none;
}

p{
  font-size: 15px;
  text-indent: 0.8rem;
  padding: 0 8px;
}

h4{
  transition: transform .2s;
  
}

h4:hover{
  transform: scale(1.3);
}

div.slider{
  position: relative;
}

h4#tools-link{
  padding-top: 20px !important;
}

#upper-container{
  /* background-color: rgba(128, 128, 128, 0.678); */
  padding: 20px 20px;
  margin: 20px 20px;
}

#pdf-container{
  display: flex;
  flex-direction: column;
  margin: 40px auto !important;
}

/* canvas.react-pdf__Page__canvas{
  width: 375px !important;
  height: 485px !important;
} */

#pdf-image{
  width: 375px;
  height: 485px;
  margin: 0 auto;
  border-radius: 8px;
  overflow: hidden;
}

#mid-container{
  display: flex;
  flex-direction: column;
  margin: 0 auto !important;
}

div.mid-cont-card{
  border: 2px solid rgba(63, 62, 62, 0.651) !important;
  border-radius: 8px;
  margin: 40px;
  padding: 20px 20px;
  width: 300px;
  height: 300px;
  transition: transform .2s;
}
div.mid-cont-card:hover{
  transform: scale(1.1);
  box-shadow: 2px 2px 2px 2px grey;
}


#bob-main{
  height: 370px;
}

.image{
  width: 375px;
  margin: 0 auto;
}
.twitter-icon{
  margin: 0 auto;
}

#lower-container{
  display: flex;
  flex-direction: column;
  padding-bottom: 40px !important;
}

#vendors-card{
  background-color: rgba(63, 62, 62, 0.651);
  border: 2px solid rgba(63, 62, 62, 0.651);
  border-radius: 8px;
  margin: 0 auto;
}

img.vendors-image{
  width: 350px;
  padding: 40px 20px;
  
}

@media(min-width: 424px){

  #mid-container{
    margin: 0 auto !important;
  }
}

@media (min-width: 768px){

  p{
    width: 550px;
    margin: 0 auto;
  }
  
  p.path-text{
    width: 275px;
    /* height: 250px; */
    padding-top: 15px;
    /* margin: 10px; */
    text-align: left;
  }

  .carousel-image{
    border-radius: 10px !important;

  }
  
  div.slider{
    display: block;
    margin: 40px auto;
  }

  .carousel-control-next, .carousel-control-prev{
    display: center !important;
  }

  div#main-banner{
    display: block;
    /* padding-top: 100px; */
    margin: 0 auto;
    height: 334px !important;
    width: 768px !important;
    border: 2px solid black;
    background-color: blue;
    font-size: 50px;
  }

  #mid-container{
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: 1023px){

  .image{
    height: 444px;
    width: 400px;
    border: 2px solid black;
    background-color: blue;
  }

  #mid-container{
    display: flex;
    justify-content: center;
  }

  #pdf-container{
    flex-direction: row;
    width: 950px;
    margin: 40px auto !important;
    justify-content: space-around;
  }

  div#stock-think-tank-card{
    display: flex;
    flex-direction: column;
    padding: 100px 0;
    width: 500px;
  }

  #pdf-image{
    margin: 0 20px;
  }

  p.stockthink-para{
    width: 500px;
  }

  .headshot-container{
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
  }

  #bob-main{
    display: flex;
    flex-direction: row !important;
    /* max-width: 300px; */
  }

  div.headshot-card , div.FaTwitter{
    display: flex;
    flex-direction: column;
  }

  #vendors-card{
    padding: 0 !important;
  }

  .vendors-image{
    transition: transform .2s;
  }

  .vendors-image:hover{
    transform: scale(1.1);
  }
}

@media(min-width: 1339px){

  div#main-banner{
    width: 1280px !important;
  }

  div.slider{
    width: 1280px;
  }

  #pdf-image{
    width: 500px !important;
    height: 647px !important;
  }

  #pdf-container{
    width: 1280px;
  }
}

@media(min-width: 1779px){

}