.media-headers{
    margin: 80px auto;
    padding-top: 60px;
}

.video-card-container:-webkit-scrollbar-track{
   background-color: black;
  }

div#main-video-card{
    position: relative;
    border-radius: 8px;
    max-width: 1280px !important;
    max-height: 650px !important;
    margin: 0 auto !important;
    padding-bottom: 56.25%;
}

div#main-video{
    max-width: 1280px !important;
    max-height: 700px !important;
    width: 98% !important;
    height: 100% !important;
    position: absolute;
    top: 0;
    border: 2px outset rgba(63, 62, 62, 0.651) !important;
    left: 1%;
    margin: 0 auto;
    border: 2px solid;
}

.main-video-title{
    display: flex;
    justify-content: flex-start;
    width: 95vw !important;
    max-width: 1280px !important;
}

.main-video-title h3{
    font-size: 16px;
    font-weight: 600;
    width: 90%;
    height: 0;
    text-align: left;
    position: absolute;
    bottom: -5%;
    left: 2%;
}

h1#middle-header{
    margin-top: 100px;
}

.vids-cont-label{
    text-align: left;
    margin-left: 10px;
    color: rgb(21, 170, 148);
}

.video-card-container{
    width: 95vw;
    margin: 40px auto;
    display: flex;
    gap: 0.5rem;
    flex-wrap: nowrap;
    max-height: 440px;
    overflow-x: auto;
    width: auto;
}

div.video-card{
    justify-content: space-between;
    text-align: left;
    width: 92vw !important;
    max-height: 270px !important;
    margin: 10px;
}

div.vid-slot{
    border: 2px outset rgba(63, 62, 62, 0.651);
}

.video-title{
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    margin-left: 20px;
}

div.video-card-container{
    margin: 0 auto;
}

#featured-videos{
    margin: 40px auto;
}

#youtube-button{
    margin: 60px 0;
    border: 2px solid rgb(21, 170, 148);
    color: rgb(21, 170, 148);
    width: 95vw;
    padding: 10px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    background-color: rgb(36, 35, 39);
    transition: transform .4s;
}

#youtube-button:hover{
    background-color: rgb(21, 21, 22);
    box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.541);
    transform: scale(1.1);
}

@media(min-width: 767px){
    div.video-card{
        width: 44vw !important;
    }

    #youtube-button{
        max-width: 400px;
    }
}

@media(min-width: 1023px){
    div.video-card{
        max-width: 480px;
    }
}

@media(min-width:1168px){
    div#main-video-card{
        padding-bottom: 36.25rem;
    }
}

@media(min-width: 1439px){
    .video-title{
        font-size: 18px;
    }

    div#main-video{
        width: 1250px !important;
        height: 700px !important;
        /* background-size: cover !important; */
    }

    #main-video-card{
        height: 700px;
    }

    div.vid-slot{
        height: 350px;
    }

    div.video-card{
        /* width: 400px !important; */
        /* height: 240px !important; */
    }

    div.video-card-container{
        height: 350px;
    }
}

@media(min-width: 2559px){
    .media-headers{
        padding-top: 140px;
    }
}
