#terms-container{
    margin: 140px 0 80px 0;
}

.terms-paragraph{
    width: 95vw;
    padding: 20px 0;
    margin: 0 auto;
}

.terms-header{
    color: rgb(21, 170, 148);
}

@media(min-width: 767px){
    #terms-container{
        /* margin: 0 auto; */
        /* padding-bottom: 80px; */
    }
    
    .terms-paragraph{
        text-align: left;
        width: 768px;
    }
}
