h3#tools-header{
    font-size: 45px;
    font-weight: 600;
    margin: 60px 0 40px 0;
}

div#tools-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
    margin-bottom: 40px;
}

.tools-card{
    display: flex;
    flex-direction: column;
    background-color: rgb(36, 35, 39);
    border: 2px solid rgb(131, 131, 131);
    border-radius: 10px;
    padding: 30px;
    margin: 20px;
    align-items: center;
    text-align: left;
}

#tools-ul li{
    font-size: 14px !important;
    text-align: left;
    color: white;
}

#motivewave-logo{
    width: 240px;
    height: 240px;
}

#ninjatrader-logo{
    width: 397px;
    height: 137px;
    padding: 40px; 
}

#kinetick-logo{
    width: 397px;
    padding: 40px;
}

h3.motivewave-links, h3.kinetick-links, h3.ninjatrader-links{
    transition: transform .4s;
}

h3.motivewave-links:hover, h3.kinetick-links:hover, h3.ninjatrader-links:hover{
    transform: scale(1.1);
}

@media(min-width: 767px){
    h3#tools-header{
        font-size: 55px;
        margin-top: 80px;
    }

    h3.motivewave-links, h3.kinetick-links, h3.ninjatrader-links{
        margin-top: 20px !important;
    }
}

@media(min-width: 1023px){
    .tools-card{
        width: 60vw;
        margin: 20px auto;
    }
}

@media(min-width: 1339px){
    div#tools-container{
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 80px;
    }
    
    .tools-card{
        width: 45vw;
        margin: 20px auto;
    }

    h3.motivewave-links{
        padding-top: 120px;
    }

    h3.ninjatrader-links{
        padding-top: 20px;
    }
    h3.kinetick-links{
        padding-top: 20px;
    }
}

@media(min-width: 1779px){
    .tools-card{
        width: 35vw;
    }

    h3.motivewave-links{
        padding-top: 130px;
    }
    
    h3.kinetick-links{
        padding-top: 230px;
    }
}