div#video-player{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(21, 21, 22);
    border: 2px solid rgba(63, 62, 62, 0.651);
    /* border-radius: 8px; */
    width: 1080px;
    /* height: 520px; */
    margin: 20px auto;
}

div#video-screen{
    background-color: black;
    height: 450px;
    width: 1075px;
    margin: 0 auto;
}

div#video-controls-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

.video-buttons{
    /* width: 40px; */
    background-color: transparent !important;
    border: transparent;
}


