.right-nav {
    text-decoration: none !important;
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    flex-flow: column nowrap;
    width: 60%;
    height: 100%;
    position: fixed;
    top: 0;
    right: -460px;
    transition: all 0.5s ease-in-out;
    z-index: 50;
    align-items: flex-start;
}

#navlogo{
    width: 30vw;
    padding-bottom: 60px;
    margin: 0 70px;
}

.outside {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    right: 55px;
    z-index: -10;
}

div.outside.open {
    z-index: 50;
    opacity: 1;
}

div.right-nav.open {
    right: 0;
    background: rgba(0, 0, 0, 0.89);
    transition: all 0.5s ease-out;
}

.right-nav.open, li {
    color: white;
    text-decoration: none;
    font-size: 20px;
 }

@media(min-width: 424px){
    .right-nav{
        right: -750px;
    }
}

@media (min-width: 768px) {
    .right-nav {
        /* width: 100%; */
        right: -500;
    }

    img#navlogo{
        width: 8vw;
        margin: 0 20px;
        padding-top: 60px;
    }

    .right-nav.open, li {
        color: white;
        text-decoration: none;
        font-size: 20px;
    }
}

@media (min-width: 1024px) {
    .right-nav{
        width: 0;
        right: -400px;
    }

    img#navlogo{
        width: 8vw;
        padding-top: 90px;
    }
}

@media(min-width: 1439px){
    .right-nav{
        width: 0;
        right: -400px;
    }

    img#navlogo{
        width: 5.5vw;
        padding-top: 80px;
    }
}

@media(min-width: 1879px){
    img#navlogo{
        width: 4vw;
        padding-top: 80px;
    }
}

@media(min-width: 2559px){
    .right-nav{
        width: 0;
        right: -500px;
    }

    img#navlogo{
        width: 4vw;
        padding-top: 80px;
    }
}