/* .underline {
  color: inherit;
  text-decoration: inherit;
}
.a, div._nav {
  color: white;
  width: 100vw;
  height: 65px;
  right: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 0;
}
div._nav, a, li.links {
  text-decoration: none !important;
}

#nav-title {
  font-weight: 600;
  font-size: 20px;
  text-decoration: none !important;
}
.menu-bar {
  display: none;
}

img.navlogo {
  width: 50vw;
  margin: 20px;
  padding-top: 40px;
}

div.links-container li.links {
  color: #C2E114;
  font-size: 20px;
}

.links-container {
  display: flex;
  text-decoration: none !important;
  flex-direction: column;
  justify-content: center;
  height: 150px;
  margin: auto 0;
  text-align: left !important;
}

.links-container li {
  text-decoration: none !important;
  margin: 0 25px;
  z-index: 50;
}
@media (min-width: 767px) {
  img.navlogo{
    display: flex;
    background-color: rgb(29, 28, 28);
    width: 20vw;
    padding: 0;
    margin: 0;
  }
  
  .menu-bar {
    display: flex;
    list-style: none;
    z-index: 100;
    width: 100%;
  }

  .links-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 18vh;
    width: 100% !important;
    text-decoration: none !important;
  }

  div.links-container{
    background-color: rgb(29, 28, 28);
  }
  
  div.links-container li.links{
    font-size: 12px;
    padding-top: 10px;
  }
}

@media(min-width: 1023px){
  div.links-container li.links {
    font-size: 14px;
    padding-top: 40px;
  }
}

@media(min-width: 1339px){
  div.links-container li.links {
    font-size: 20px;
    padding-top: 30px;
  }
}

@media(min-width: 2559px){
  div.links-container{
    margin-top: 30px !important;
    height: 160px;
  }
  div.links-container li.links {
    font-size: 30px;
    padding-top: 25px;
  }
} */